<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{% block title %}
	django_model2extjs
	{% endblock %}</title>
	{% load staticfiles %}
	{% block extjscss %}
		<link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all-neptune.css">
	{% endblock %}
	{% block extjsscript%}
	<script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"></script>
	{% endblock %}
	{% block codejs %}
	<script type="text/javascript" src="{% static 'model2extjs/js/model2extjs.js' %}">
	</script>
	{% endblock %}
</head>
<body>
	{% block body %}

	{% endblock %}
</body>
</html>